body{
   font-family:'微軟正黑體';
}
nav, footer{
  background-color:#FBB03B;
}
footer{
  height:100px;
}
#nav_item{
  padding-left:20px;
  font-family:'微軟正黑體';
  font-size:1.5em;
  color:white;
  float:left;
  padding-top:25px;
}
#logo{
  padding-right:15px;
  float:right;
  }
article{
  background:url(http://subtlepatterns.com/patterns/brushed.png);
  clear:both;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25), 1px 1px 5px rgba(0,0,0,0.1) inset;
  }
  
#wrapper{
  background-color:white;
  padding:40px 0px 70px 0px;
  border: 20px solid #FCEE21;
}
#section_left h1{
  font-family:'微軟正黑體';
  color:#0AC4E2; 
  font-size:2.5em;
  padding-bottom:10px;
  }
#section_right{
  padding:76px 0px; 
  padding-left:30px;
  font-size:1.2em;
  font-family:'微軟正黑體';
}
#no, #time, #picked_location, #saved_location, #description{
  color:#F30E66;
  padding-bottom:15px;
}
footer{
  text-align:center;
}


ul{
  list-style-type:none;
}
 /* 未連結 */
#nav_item  a:link{
  color: black;
}

/* 滑鼠移至連結 */
#nav_item a:hover{
  color: yellow;
}

/* 選擇的連結 */
#nav_item  a:active{
  color: black;
}
#nav_item  a { text-decoration: none } 
a { text-decoration: none } 
